.tabs-wrap {
  .tab {
    flex-grow: 1;
    background-color: #2196f3;
    opacity: 1;
    color: #fff;
    max-width: 50%;
    width: 50%;
  }
  .tab-container {
    padding: 24px;
    list-style: none;
  }
}

.student-card {
  padding-bottom: 24px;
  .dd {
    margin: 4px 0 0;
  }
  .card-actions {
    padding: 16px 24px;
    @media (max-width: 600px) {
      padding: 16px;
    }
  }
  .lecture-status {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    li {
      float: left;
      height: 24px;
      line-height: 24px;
      padding-right: 24px;
      i {
        float: left;
        margin-right: 8px;
        color: #00c853;
      }
      span {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}
