.tabs-wrap {
  .tab {
    flex-grow: 1;
    background-color: #2196f3;
    opacity: 1;
    color: #fff;
    max-width: 50%;
    width: 50%;
  }
  .tab-container {
    padding: 24px;
    list-style: none;
  }
}

.student-card {
  padding-bottom: 24px;
  .check {
    background-color: #2196f3;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: #fff;
    float: left;
    margin: 0 5px -2px 0;
  }
  .flex {
    display: flex;
  }
  .status {
    flex: 1;
    padding: 5px;
    color: #5b5b5b;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .icon-big {
    margin: 0 7px -7px 0;
  }
  .grey {
    color: #888;
  }
  .cardOne-actions {
    margin: 10px 15px 5px 0;
  }
  .dd {
    margin: 4px 0 0;
  }
  .card-actions {
    padding: 16px 24px;
  }
  .lecture-status {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow: hidden;
    li {
      float: left;
      height: 24px;
      line-height: 24px;
      padding-right: 24px;
      i {
        float: left;
        margin-right: 8px;
        color: #00c853;
      }
      span {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}
