.header {
  padding-top: 56px;
  .menu-button {
    margin: 0 12px 0 -12px;
  }
  .flex {
    flex: 1;
  }
  h2 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .toolbar-dd {
    margin: 0 -12px 0 12px;
  }
}
.white-bg {
  background-color: #fff !important;
}
.sidebar {
  .rotate {
    transform: rotate(180deg);
  }
  .drawer-list {
    min-width: 300px;
  }
  .card {
    background-color: #00acc1;
    box-shadow: none;
  }
  .card-avatar {
    width: 62px;
    height: 62px;
  }
  .role-select {
    width: 100%;
    color: #fff;
    &:before,
    &:after {
      display: none;
    }
    svg {
      color: #fff;
    }
  }
  .user-title {
    color: #fff;
    padding-top: 30px;
    span {
      display: block;
      font-weight: 500;
      line-height: 20px;
      font-size: 1rem;
    }
    em {
      display: block;
      font-style: normal;
      line-height: 20px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .card-user-type {
    color: #eee;
  }
}
.sidebar-inner {
  outline: none !important;
}
